html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Press Start 2P", sans-serif;
	background-image: '';
	background-size: cover;
	background-repeat: no-repeat;
}

/* url(../img/bg.gif) */