
{% extends "base.html" %} 


{% block head %}

<script type="text/javascript" src="{{ url_for('static', filename='hanoi_script.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='hanoi_style.css') }}">

{% endblock %}

{% block content %}

<div class="hanoi-container">
    <div id="bar0"><img src="{{ url_for('static', filename='Bar.png') }}" /></div>

    <div id="bar1"><img src="{{ url_for('static', filename='Bar.png') }}" /></div>
    
    <div id="bar2"><img src="{{ url_for('static', filename='Bar.png') }}" /></div>
    <div id="bottombar"></div>
    
    <div class="disk" id="disk0" onclick="pressed()"><img class="insideImg" style="left:94px;" src="{{ url_for('static', filename='Bar2.png') }}" />
    </div>
    <div class="disk" id="disk1"><img class="insideImg" style="left:74px;" src="{{ url_for('static', filename='Bar2.png') }}" /></div>
    <div class="disk" id="disk2"><img class="insideImg" style="left:54px;" src="{{ url_for('static', filename='Bar2.png') }}" /></div>
    <div class="disk" id="disk3"><img class="insideImg" style="left:34px;" src="{{ url_for('static', filename='Bar2.png') }}" /></div>
    <div class="disk" id="disk4"><img class="insideImg" style="left:14px;" src="{{ url_for('static', filename='Bar2.png') }}" /></div>
    
    <button onclick="executeHanoi()">Start</button>
    
    <label>Speed <select id="speedSelectList">
            <option value="1">fast</option>
            <option value="10">medium</option>
            <option value="20">slow</option>
        </select>
    </label>
    
    <label>No. of Disks<select id="diskSelectList">
            <option value="5">5 disks</option>
            <option value="4">4 disks</option>
            <option value="3">3 disks</option>
        </select>
    </label>    
</div>



{% endblock %}